
.vscode/
.idea/
lib/
bin/
data/save/
node_modules/
obj/
*.log

# Object files
*.o


# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.sh 

*.Identifier
