
.vscode/
.idea/

lib/
bin/
data/save/
doxygen-awesome-css/
node_modules/
obj/
*.log
# Object files
*.o
*.json

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.sh 
*.tar.gz




*.Identifier
