
.vscode/
.idea/
data/save/
obj/
*.log
test/bin
test/obj
# Object files
*.o


# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.sh 

*.Identifier
